/* 컴포넌트 */
#login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;

  .login-input,
  #login-button {
    width: 100%;
    max-width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
  }
  .login-input {
    border: 1px solid;
    border-color: #e0e0e0;
  }
  #login-button {
    background-color: #a0dbef;
    color: #fff;
  }

  a {
    color: #a0dbef;
    text-decoration: underline;
    font-size: 0.9rem;
  }
}

#todo-wrapper {
  display: flex;
  flex-direction: column;

  #todo-input-wrapper {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    input {
      width: 100%;
      height: 3rem;
      border: 1px solid;
      border-color: #ddd;
      border-radius: 0.5rem;
    }

    button {
      background-color: #a0dbef;
      color: #fff;
      padding: 0 0.5rem;
      border-radius: 0.5rem;
      height: 3rem;
    }
  }

  #todo-list-wrapper {
    width: 100%;
    height: calc(100% - 4rem);
    overflow-y: overlay;
    padding: 0.5rem;
    position: relative;
    .todo-list {
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .todo-list-contents {
      width: calc(100% - 1.5rem);
      max-width: calc(100% - 1.5rem);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0.5rem;

      & > p {
        width: calc(100% - 2rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .todo-list-delete-button {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0.25rem;
          height: 1rem;
          background-color: red;
          transform: rotate(45deg) translate(-50%, -50%);
          transform-origin: top left;
          content: "";
        }
        &:after {
          transform: rotate(-45deg) translate(-50%, -50%);
        }
      }
    }
  }
}

.checkbox-round {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: #f8f8f8;
}

.checkbox-round:checked {
  background-color: #3ded97;
}

#logout-button {
  height: 3rem;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem;
  background: red;
  color: white;
  border-radius: 0.5rem;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  .lds-default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #3ded97;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%,
    20%,
    80%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
}
